In [1]:
import pandas as pd

In [2]:

weather_16_17 = pd.read_csv("data_weather/weather_16_17.csv")
weather_18_19 = pd.read_csv("data_weather/weather_18_19.csv")
weather_22_23 = pd.read_csv("data_weather/weather_22_23.csv")
weather_24_25 = pd.read_csv("data_weather/weather_24_25.csv")

In [6]:
len(weather_16_17.columns),len(weather_18_19.columns),len(weather_22_23.columns),len(weather_24_25.columns)

(33, 33, 33, 33)

In [11]:
correct,wrong=0,0
for i in range(len(weather_16_17.columns)):
    if list(weather_16_17.columns)[i]==list(weather_18_19.columns)[i]:
        if list(weather_18_19.columns)[i]==list(weather_22_23.columns)[i]:
            if list(weather_22_23.columns)[i]==list(weather_24_25.columns)[i]:
                correct+=1
                if(i==1):
                    print(list(weather_16_17.columns)[i],list(weather_18_19.columns)[i],list(weather_22_23.columns)[i],list(weather_24_25.columns)[i])
    else:
        wrong+=1

datetime datetime datetime datetime

In [12]:
weather_all = pd.concat(
    [weather_16_17, weather_18_19, weather_22_23, weather_24_25],
    ignore_index=True
)

In [13]:
len(weather_all)

2922

In [15]:
365*8+2

2922

In [16]:
weather_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              2922 non-null   object
 1   datetime          2922 non-null   object
 2   tempmax           2922 non-null   float64
 3   tempmin           2922 non-null   float64
 4   temp              2922 non-null   float64
 5   feelslikemax      2922 non-null   float64
 6   feelslikemin      2922 non-null   float64
 7   feelslike         2922 non-null   float64
 8   dew               2922 non-null   float64
 9   humidity          2922 non-null   float64
 10  precip            2922 non-null   float64
 11  precipprob        2922 non-null   int64
 12  precipcover       2922 non-null   float64
 13  preciptype        1740 non-null   object
 14  snow              2922 non-null   int64
 15  snowdepth         2922 non-null   int64
 16  windgust          2922 non-null   float64
 17  windspeed         2922 non-null   float64
 18  winddir           2922 non-null   float64
 19  sealevelpressure  2922 non-null   float64
 20  cloudcover        2922 non-null   float64
 21  visibility        2922 non-null   float64
 22  solarradiation    2922 non-null   float64
 23  solarenergy       2922 non-null   float64
 24  uvindex           2922 non-null   int64
 25  severerisk        1452 non-null   float64
 26  sunrise           2922 non-null   object
 27  sunset            2922 non-null   object
 28  moonphase         2922 non-null   float64
 29  conditions        2922 non-null   object
 30  description       2922 non-null   object
 31  icon              2922 non-null   object
 32  stations          2922 non-null   object
dtypes: float64(20), int64(4), object(9)
memory usage: 753.5+ KB

In [17]:
weather_all.head(2)

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,"12.9135218, 77.5950804",2016-01-01,28.1,16.1,21.1,27.4,16.1,21.0,13.9,67.7,...,20.7,8,NaN,2016-01-01T06:41:30,2016-01-01T18:04:12,0.72,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"43296099999,43272099999,VOBG,42705699999,VOBL,..."
1,"12.9135218, 77.5950804",2016-01-02,28.1,14.1,21.4,27.0,14.1,21.2,10.4,54.1,...,21.7,9,NaN,2016-01-02T06:41:53,2016-01-02T18:04:46,0.75,Clear,Clear conditions throughout the day.,clear-day,"43296099999,VOBG,42705699999,VOBL,43302599999,..."

In [18]:
weather_all.tail(2)

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
2920,"12.9135218, 77.5950804",2025-12-30,27.9,18.0,22.3,28.0,18.0,22.3,16.0,70.1,...,20.7,8,10.0,2025-12-30T06:40:59,2025-12-30T18:03:27,0.36,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"VOBG,VOBL"
2921,"12.9135218, 77.5950804",2025-12-31,28.9,17.0,22.6,29.3,17.0,22.8,17.4,74.8,...,17.9,8,10.0,2025-12-31T06:41:23,2025-12-31T18:04:01,0.39,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"VOBG,VOBL"

In [20]:
weather_all["date"] = pd.to_datetime(weather_all["datetime"])

In [21]:
weather_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              2922 non-null   object
 1   datetime          2922 non-null   object
 2   tempmax           2922 non-null   float64
 3   tempmin           2922 non-null   float64
 4   temp              2922 non-null   float64
 5   feelslikemax      2922 non-null   float64
 6   feelslikemin      2922 non-null   float64
 7   feelslike         2922 non-null   float64
 8   dew               2922 non-null   float64
 9   humidity          2922 non-null   float64
 10  precip            2922 non-null   float64
 11  precipprob        2922 non-null   int64
 12  precipcover       2922 non-null   float64
 13  preciptype        1740 non-null   object
 14  snow              2922 non-null   int64
 15  snowdepth         2922 non-null   int64
 16  windgust          2922 non-null   float64
 17  windspeed         2922 non-null   float64
 18  winddir           2922 non-null   float64
 19  sealevelpressure  2922 non-null   float64
 20  cloudcover        2922 non-null   float64
 21  visibility        2922 non-null   float64
 22  solarradiation    2922 non-null   float64
 23  solarenergy       2922 non-null   float64
 24  uvindex           2922 non-null   int64
 25  severerisk        1452 non-null   float64
 26  sunrise           2922 non-null   object
 27  sunset            2922 non-null   object
 28  moonphase         2922 non-null   float64
 29  conditions        2922 non-null   object
 30  description       2922 non-null   object
 31  icon              2922 non-null   object
 32  stations          2922 non-null   object
 33  date              2922 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(20), int64(4), object(9)
memory usage: 776.3+ KB

In [22]:
df=weather_all

In [27]:
len(df['conditions'].unique())
df['conditions'].unique()

array(['Partially cloudy', 'Clear', 'Rain, Partially cloudy',
       'Rain, Overcast', 'Rain'], dtype=object)

In [28]:
weather_all['sunrise'] = pd.to_datetime(weather_all['sunrise'])
weather_all['sunset'] = pd.to_datetime(weather_all['sunset'])

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              2922 non-null   object
 1   datetime          2922 non-null   object
 2   tempmax           2922 non-null   float64
 3   tempmin           2922 non-null   float64
 4   temp              2922 non-null   float64
 5   feelslikemax      2922 non-null   float64
 6   feelslikemin      2922 non-null   float64
 7   feelslike         2922 non-null   float64
 8   dew               2922 non-null   float64
 9   humidity          2922 non-null   float64
 10  precip            2922 non-null   float64
 11  precipprob        2922 non-null   int64
 12  precipcover       2922 non-null   float64
 13  preciptype        1740 non-null   object
 14  snow              2922 non-null   int64
 15  snowdepth         2922 non-null   int64
 16  windgust          2922 non-null   float64
 17  windspeed         2922 non-null   float64
 18  winddir           2922 non-null   float64
 19  sealevelpressure  2922 non-null   float64
 20  cloudcover        2922 non-null   float64
 21  visibility        2922 non-null   float64
 22  solarradiation    2922 non-null   float64
 23  solarenergy       2922 non-null   float64
 24  uvindex           2922 non-null   int64
 25  severerisk        1452 non-null   float64
 26  sunrise           2922 non-null   datetime64[ns]
 27  sunset            2922 non-null   datetime64[ns]
 28  moonphase         2922 non-null   float64
 29  conditions        2922 non-null   object
 30  description       2922 non-null   object
 31  icon              2922 non-null   object
 32  stations          2922 non-null   object
 33  date              2922 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(20), int64(4), object(7)
memory usage: 776.3+ KB

In [33]:
len(df)

2922

In [31]:
df.isna().sum()

name                   0
datetime               0
tempmax                0
tempmin                0
temp                   0
feelslikemax           0
feelslikemin           0
feelslike              0
dew                    0
humidity               0
precip                 0
precipprob             0
precipcover            0
preciptype          1182
snow                   0
snowdepth              0
windgust               0
windspeed              0
winddir                0
sealevelpressure       0
cloudcover             0
visibility             0
solarradiation         0
solarenergy            0
uvindex                0
severerisk          1470
sunrise                0
sunset                 0
moonphase              0
conditions             0
description            0
icon                   0
stations               0
date                   0
dtype: int64

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              2922 non-null   object
 1   datetime          2922 non-null   object
 2   tempmax           2922 non-null   float64
 3   tempmin           2922 non-null   float64
 4   temp              2922 non-null   float64
 5   feelslikemax      2922 non-null   float64
 6   feelslikemin      2922 non-null   float64
 7   feelslike         2922 non-null   float64
 8   dew               2922 non-null   float64
 9   humidity          2922 non-null   float64
 10  precip            2922 non-null   float64
 11  precipprob        2922 non-null   int64
 12  precipcover       2922 non-null   float64
 13  preciptype        1740 non-null   object
 14  snow              2922 non-null   int64
 15  snowdepth         2922 non-null   int64
 16  windgust          2922 non-null   float64
 17  windspeed         2922 non-null   float64
 18  winddir           2922 non-null   float64
 19  sealevelpressure  2922 non-null   float64
 20  cloudcover        2922 non-null   float64
 21  visibility        2922 non-null   float64
 22  solarradiation    2922 non-null   float64
 23  solarenergy       2922 non-null   float64
 24  uvindex           2922 non-null   int64
 25  severerisk        1452 non-null   float64
 26  sunrise           2922 non-null   datetime64[ns]
 27  sunset            2922 non-null   datetime64[ns]
 28  moonphase         2922 non-null   float64
 29  conditions        2922 non-null   object
 30  description       2922 non-null   object
 31  icon              2922 non-null   object
 32  stations          2922 non-null   object
 33  date              2922 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(20), int64(4), object(7)
memory usage: 776.3+ KB

In [44]:
cols=['precipprob','snow','snowdepth']
for i in cols:
    print(df[i].value_counts())
    print('\n')

precipprob
100    1662
0      1260
Name: count, dtype: int64


snow
0    2922
Name: count, dtype: int64


snowdepth
0    2922
Name: count, dtype: int64

In [45]:
df.drop(['name','datetime','feelslikemax','feelslikemin','feelslike','precipprob','snow','snowdepth','stations'],axis=1,inplace=True)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tempmax           2922 non-null   float64
 1   tempmin           2922 non-null   float64
 2   temp              2922 non-null   float64
 3   dew               2922 non-null   float64
 4   humidity          2922 non-null   float64
 5   precip            2922 non-null   float64
 6   precipcover       2922 non-null   float64
 7   preciptype        1740 non-null   object
 8   windgust          2922 non-null   float64
 9   windspeed         2922 non-null   float64
 10  winddir           2922 non-null   float64
 11  sealevelpressure  2922 non-null   float64
 12  cloudcover        2922 non-null   float64
 13  visibility        2922 non-null   float64
 14  solarradiation    2922 non-null   float64
 15  solarenergy       2922 non-null   float64
 16  uvindex           2922 non-null   int64
 17  severerisk        1452 non-null   float64
 18  sunrise           2922 non-null   datetime64[ns]
 19  sunset            2922 non-null   datetime64[ns]
 20  moonphase         2922 non-null   float64
 21  conditions        2922 non-null   object
 22  description       2922 non-null   object
 23  icon              2922 non-null   object
 24  date              2922 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(17), int64(1), object(4)
memory usage: 570.8+ KB

In [48]:
df.isna().sum()

tempmax                0
tempmin                0
temp                   0
dew                    0
humidity               0
precip                 0
precipcover            0
preciptype          1182
windgust               0
windspeed              0
winddir                0
sealevelpressure       0
cloudcover             0
visibility             0
solarradiation         0
solarenergy            0
uvindex                0
severerisk          1470
sunrise                0
sunset                 0
moonphase              0
conditions             0
description            0
icon                   0
date                   0
dtype: int64

In [51]:
len(df)

2922

In [49]:
df.drop(['severerisk'],axis=1,inplace=True)

In [50]:
df['preciptype'].value_counts()

preciptype
rain    1740
Name: count, dtype: int64

In [52]:
df["preciptype"] = df["preciptype"].fillna("no rain")

In [53]:
df.isna().sum()

tempmax             0
tempmin             0
temp                0
dew                 0
humidity            0
precip              0
precipcover         0
preciptype          0
windgust            0
windspeed           0
winddir             0
sealevelpressure    0
cloudcover          0
visibility          0
solarradiation      0
solarenergy         0
uvindex             0
sunrise             0
sunset              0
moonphase           0
conditions          0
description         0
icon                0
date                0
dtype: int64

In [54]:
df.columns

Index(['tempmax', 'tempmin', 'temp', 'dew', 'humidity', 'precip',
       'precipcover', 'preciptype', 'windgust', 'windspeed', 'winddir',
       'sealevelpressure', 'cloudcover', 'visibility', 'solarradiation',
       'solarenergy', 'uvindex', 'sunrise', 'sunset', 'moonphase',
       'conditions', 'description', 'icon', 'date'],
      dtype='object')

In [55]:
cols = ["date"] + [c for c in df.columns if c != "date"]
df = df[cols]

In [63]:
df.head().T

,0,1,2,3,4
date,2016-01-01 00:00:00,2016-01-02 00:00:00,2016-01-03 00:00:00,2016-01-04 00:00:00,2016-01-05 00:00:00
tempmax,28.1,28.1,27.3,28.5,28.0
tempmin,16.1,14.1,15.0,15.0,16.0
temp,21.1,21.4,21.1,21.2,21.2
dew,13.9,10.4,11.8,12.0,12.4
humidity,67.7,54.1,60.3,61.0,61.6
precip,0.0,0.0,0.0,0.0,0.0
precipcover,0.0,0.0,0.0,0.0,0.0
preciptype,no rain,no rain,no rain,no rain,no rain
windgust,41.8,37.8,37.1,39.2,30.2
windspeed,27.4,22.3,18.3,18.4,14.9
winddir,89.8,85.4,94.5,90.3,89.6
sealevelpressure,1020.9,1021.3,1020.0,1019.9,1019.0
cloudcover,38.9,4.8,10.0,10.8,8.0
visibility,6.0,7.3,7.2,7.1,6.6
solarradiation,240.5,252.7,252.9,253.6,255.0
solarenergy,20.7,21.7,21.7,21.9,22.0
uvindex,8,9,9,9,9
sunrise,2016-01-01 06:41:30,2016-01-02 06:41:53,2016-01-03 06:42:15,2016-01-04 06:42:37,2016-01-05 06:42:57
sunset,2016-01-01 18:04:12,2016-01-02 18:04:46,2016-01-03 18:05:19,2016-01-04 18:05:53,2016-01-05 18:06:27
moonphase,0.72,0.75,0.78,0.81,0.85
conditions,Partially cloudy,Clear,Clear,Clear,Clear
description,Partly cloudy throughout the day.,Clear conditions throughout the day.,Clear conditions throughout the day.,Clear conditions throughout the day.,Clear conditions throughout the day.
icon,partly-cloudy-day,clear-day,clear-day,clear-day,clear-day

In [ ]:
# df.to_csv("data_weather/weather_all_clean.csv", index=False)