In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data/data2_nafilled.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              2922 non-null   object
 1   tempmax           2922 non-null   float64
 2   tempmin           2922 non-null   float64
 3   temp              2922 non-null   float64
 4   dew               2922 non-null   float64
 5   humidity          2922 non-null   float64
 6   precip            2922 non-null   float64
 7   precipcover       2922 non-null   float64
 8   preciptype        2922 non-null   object
 9   windgust          2922 non-null   float64
 10  windspeed         2922 non-null   float64
 11  winddir           2922 non-null   float64
 12  sealevelpressure  2922 non-null   float64
 13  cloudcover        2922 non-null   float64
 14  visibility        2922 non-null   float64
 15  solarradiation    2922 non-null   float64
 16  solarenergy       2922 non-null   float64
 17  uvindex           2922 non-null   int64
 18  sunrise           2922 non-null   object
 19  sunset            2922 non-null   object
 20  moonphase         2922 non-null   float64
 21  conditions        2922 non-null   object
 22  description       2922 non-null   object
 23  icon              2922 non-null   object
 24  pm25              2601 non-null   float64
 25  aqi               2922 non-null   float64
 26  aqi_source        2922 non-null   object
dtypes: float64(18), int64(1), object(8)
memory usage: 616.5+ KB

# 1)

In [3]:
df['preciptype'].value_counts()

preciptype
rain       1740
no rain    1182
Name: count, dtype: int64

In [4]:
df["preciptype"] = df["preciptype"].map({
    "rain": 1,
    "no rain": 0
}).astype(int)

In [5]:
df['preciptype'].value_counts()

preciptype
1    1740
0    1182
Name: count, dtype: int64

 # 2)

In [6]:
df['conditions'].value_counts()

conditions
Rain, Partially cloudy    1638
Partially cloudy           880
Clear                      380
Rain, Overcast              23
Rain                         1
Name: count, dtype: int64

In [7]:
df.drop(columns=["conditions"], inplace=True)

# 3)

In [8]:
df['description'].value_counts()

description
Partly cloudy throughout the day.                                             815
Partly cloudy throughout the day with rain.                                   548
Clear conditions throughout the day.                                          378
Partly cloudy throughout the day with late afternoon rain.                    367
Partly cloudy throughout the day with afternoon rain.                         327
Partly cloudy throughout the day with a chance of rain throughout the day.    131
Partly cloudy throughout the day with early morning rain.                     110
Partly cloudy throughout the day with rain in the morning and afternoon.       77
Partly cloudy throughout the day with morning rain.                            49
Clearing in the afternoon.                                                     38
Becoming cloudy in the afternoon.                                              29
Partly cloudy throughout the day with rain clearing later.                     17
Cloudy skies throughout the day with a chance of rain throughout the day.       8
Cloudy skies throughout the day with rain.                                      6
Becoming cloudy in the afternoon with afternoon rain.                           4
Cloudy skies throughout the day with afternoon rain.                            4
Becoming cloudy in the afternoon with late afternoon rain.                      3
Clearing in the afternoon with rain.                                            2
Cloudy skies throughout the day with morning rain.                              2
Becoming cloudy in the afternoon with rain.                                     2
Cloudy skies throughout the day with rain clearing later.                       1
Clear conditions throughout the day with afternoon rain.                        1
Clearing in the afternoon with late afternoon rain.                             1
Cloudy skies throughout the day with rain in the morning and afternoon.         1
Cloudy skies throughout the day with early morning rain.                        1
Name: count, dtype: int64

In [9]:
df.drop(columns=["description"], inplace=True)

# 4)

In [10]:
df['icon'].value_counts()

icon
rain                 1662
partly-cloudy-day     871
clear-day             378
wind                   11
Name: count, dtype: int64

In [11]:
df = pd.get_dummies(
    df,
    columns=["icon"],
    prefix="icon",
    drop_first=False
)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    2922 non-null   object
 1   tempmax                 2922 non-null   float64
 2   tempmin                 2922 non-null   float64
 3   temp                    2922 non-null   float64
 4   dew                     2922 non-null   float64
 5   humidity                2922 non-null   float64
 6   precip                  2922 non-null   float64
 7   precipcover             2922 non-null   float64
 8   preciptype              2922 non-null   int64
 9   windgust                2922 non-null   float64
 10  windspeed               2922 non-null   float64
 11  winddir                 2922 non-null   float64
 12  sealevelpressure        2922 non-null   float64
 13  cloudcover              2922 non-null   float64
 14  visibility              2922 non-null   float64
 15  solarradiation          2922 non-null   float64
 16  solarenergy             2922 non-null   float64
 17  uvindex                 2922 non-null   int64
 18  sunrise                 2922 non-null   object
 19  sunset                  2922 non-null   object
 20  moonphase               2922 non-null   float64
 21  pm25                    2601 non-null   float64
 22  aqi                     2922 non-null   float64
 23  aqi_source              2922 non-null   object
 24  icon_clear-day          2922 non-null   bool
 25  icon_partly-cloudy-day  2922 non-null   bool
 26  icon_rain               2922 non-null   bool
 27  icon_wind               2922 non-null   bool
dtypes: bool(4), float64(18), int64(2), object(4)
memory usage: 559.4+ KB

In [13]:
df.drop(columns=["icon_wind"], inplace=True)

In [14]:
df.filter(like="icon_").sum()

icon_clear-day             378
icon_partly-cloudy-day     871
icon_rain                 1662
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    2922 non-null   object
 1   tempmax                 2922 non-null   float64
 2   tempmin                 2922 non-null   float64
 3   temp                    2922 non-null   float64
 4   dew                     2922 non-null   float64
 5   humidity                2922 non-null   float64
 6   precip                  2922 non-null   float64
 7   precipcover             2922 non-null   float64
 8   preciptype              2922 non-null   int64
 9   windgust                2922 non-null   float64
 10  windspeed               2922 non-null   float64
 11  winddir                 2922 non-null   float64
 12  sealevelpressure        2922 non-null   float64
 13  cloudcover              2922 non-null   float64
 14  visibility              2922 non-null   float64
 15  solarradiation          2922 non-null   float64
 16  solarenergy             2922 non-null   float64
 17  uvindex                 2922 non-null   int64
 18  sunrise                 2922 non-null   object
 19  sunset                  2922 non-null   object
 20  moonphase               2922 non-null   float64
 21  pm25                    2601 non-null   float64
 22  aqi                     2922 non-null   float64
 23  aqi_source              2922 non-null   object
 24  icon_clear-day          2922 non-null   bool
 25  icon_partly-cloudy-day  2922 non-null   bool
 26  icon_rain               2922 non-null   bool
dtypes: bool(3), float64(18), int64(2), object(4)
memory usage: 556.6+ KB

In [16]:
bool_cols = df.select_dtypes(include="bool").columns
df[bool_cols] = df[bool_cols].astype(int)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    2922 non-null   object
 1   tempmax                 2922 non-null   float64
 2   tempmin                 2922 non-null   float64
 3   temp                    2922 non-null   float64
 4   dew                     2922 non-null   float64
 5   humidity                2922 non-null   float64
 6   precip                  2922 non-null   float64
 7   precipcover             2922 non-null   float64
 8   preciptype              2922 non-null   int64
 9   windgust                2922 non-null   float64
 10  windspeed               2922 non-null   float64
 11  winddir                 2922 non-null   float64
 12  sealevelpressure        2922 non-null   float64
 13  cloudcover              2922 non-null   float64
 14  visibility              2922 non-null   float64
 15  solarradiation          2922 non-null   float64
 16  solarenergy             2922 non-null   float64
 17  uvindex                 2922 non-null   int64
 18  sunrise                 2922 non-null   object
 19  sunset                  2922 non-null   object
 20  moonphase               2922 non-null   float64
 21  pm25                    2601 non-null   float64
 22  aqi                     2922 non-null   float64
 23  aqi_source              2922 non-null   object
 24  icon_clear-day          2922 non-null   int64
 25  icon_partly-cloudy-day  2922 non-null   int64
 26  icon_rain               2922 non-null   int64
dtypes: float64(18), int64(5), object(4)
memory usage: 616.5+ KB

# 5)

In [18]:
df["sunrise"] = pd.to_datetime(df["sunrise"])
df["sunset"]  = pd.to_datetime(df["sunset"])
df["date"] = pd.to_datetime(df["date"])

In [19]:
df["daylight_minutes"] = (df["sunset"] - df["sunrise"]).dt.total_seconds() / 60

In [20]:
df.head(3)

,date,tempmax,tempmin,temp,dew,humidity,precip,precipcover,preciptype,windgust,...,sunrise,sunset,moonphase,pm25,aqi,aqi_source,icon_clear-day,icon_partly-cloudy-day,icon_rain,daylight_minutes
0,2016-01-01,28.1,16.1,21.1,13.9,67.7,0.0,0.0,0,41.8,...,2016-01-01 06:41:30,2016-01-01 18:04:12,0.72,NaN,107.0,BTM_temporal_interp,0,1,0,682.700000
1,2016-01-02,28.1,14.1,21.4,10.4,54.1,0.0,0.0,0,37.8,...,2016-01-02 06:41:53,2016-01-02 18:04:46,0.75,NaN,107.0,BTM_temporal_interp,1,0,0,682.883333
2,2016-01-03,27.3,15.0,21.1,11.8,60.3,0.0,0.0,0,37.1,...,2016-01-03 06:42:15,2016-01-03 18:05:19,0.78,107.0,107.0,original,1,0,0,683.066667

In [21]:
df.drop(["sunrise", "sunset"], axis=1, inplace=True)

# 6)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    2922 non-null   datetime64[ns]
 1   tempmax                 2922 non-null   float64
 2   tempmin                 2922 non-null   float64
 3   temp                    2922 non-null   float64
 4   dew                     2922 non-null   float64
 5   humidity                2922 non-null   float64
 6   precip                  2922 non-null   float64
 7   precipcover             2922 non-null   float64
 8   preciptype              2922 non-null   int64
 9   windgust                2922 non-null   float64
 10  windspeed               2922 non-null   float64
 11  winddir                 2922 non-null   float64
 12  sealevelpressure        2922 non-null   float64
 13  cloudcover              2922 non-null   float64
 14  visibility              2922 non-null   float64
 15  solarradiation          2922 non-null   float64
 16  solarenergy             2922 non-null   float64
 17  uvindex                 2922 non-null   int64
 18  moonphase               2922 non-null   float64
 19  pm25                    2601 non-null   float64
 20  aqi                     2922 non-null   float64
 21  aqi_source              2922 non-null   object
 22  icon_clear-day          2922 non-null   int64
 23  icon_partly-cloudy-day  2922 non-null   int64
 24  icon_rain               2922 non-null   int64
 25  daylight_minutes        2922 non-null   float64
dtypes: datetime64[ns](1), float64(19), int64(5), object(1)
memory usage: 593.7+ KB

In [24]:
df['aqipm25']=df['aqi']

In [25]:
df.drop(['pm25','aqi_source','aqi'],axis=1,inplace=True)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    2922 non-null   datetime64[ns]
 1   tempmax                 2922 non-null   float64
 2   tempmin                 2922 non-null   float64
 3   temp                    2922 non-null   float64
 4   dew                     2922 non-null   float64
 5   humidity                2922 non-null   float64
 6   precip                  2922 non-null   float64
 7   precipcover             2922 non-null   float64
 8   preciptype              2922 non-null   int64
 9   windgust                2922 non-null   float64
 10  windspeed               2922 non-null   float64
 11  winddir                 2922 non-null   float64
 12  sealevelpressure        2922 non-null   float64
 13  cloudcover              2922 non-null   float64
 14  visibility              2922 non-null   float64
 15  solarradiation          2922 non-null   float64
 16  solarenergy             2922 non-null   float64
 17  uvindex                 2922 non-null   int64
 18  moonphase               2922 non-null   float64
 19  icon_clear-day          2922 non-null   int64
 20  icon_partly-cloudy-day  2922 non-null   int64
 21  icon_rain               2922 non-null   int64
 22  daylight_minutes        2922 non-null   float64
 23  aqipm25                 2922 non-null   float64
dtypes: datetime64[ns](1), float64(18), int64(5)
memory usage: 548.0 KB

In [27]:
datetime_cols = df.select_dtypes(include=["datetime64[ns]"]).columns.tolist()
int_cols      = df.select_dtypes(include=["int64"]).columns.tolist()
float_cols    = df.select_dtypes(include=["float64"]).columns.tolist()

In [28]:
df = df[datetime_cols + int_cols + float_cols]

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    2922 non-null   datetime64[ns]
 1   preciptype              2922 non-null   int64
 2   uvindex                 2922 non-null   int64
 3   icon_clear-day          2922 non-null   int64
 4   icon_partly-cloudy-day  2922 non-null   int64
 5   icon_rain               2922 non-null   int64
 6   tempmax                 2922 non-null   float64
 7   tempmin                 2922 non-null   float64
 8   temp                    2922 non-null   float64
 9   dew                     2922 non-null   float64
 10  humidity                2922 non-null   float64
 11  precip                  2922 non-null   float64
 12  precipcover             2922 non-null   float64
 13  windgust                2922 non-null   float64
 14  windspeed               2922 non-null   float64
 15  winddir                 2922 non-null   float64
 16  sealevelpressure        2922 non-null   float64
 17  cloudcover              2922 non-null   float64
 18  visibility              2922 non-null   float64
 19  solarradiation          2922 non-null   float64
 20  solarenergy             2922 non-null   float64
 21  moonphase               2922 non-null   float64
 22  daylight_minutes        2922 non-null   float64
 23  aqipm25                 2922 non-null   float64
dtypes: datetime64[ns](1), float64(18), int64(5)
memory usage: 548.0 KB

In [30]:
df.to_csv('data/data3_encoded5.csv',index=False)